@font-face {
  font-family: "TTLakes";
  src: url(./assets/font/TTLakes/TTLakes-Regular.woff),
    url(./assets/font/TTLakes/TTLakes-Bold.woff);
}
body {
  margin: 0;
  background-color: ghostwhite;
  font-family: "TTLakes";
  font-weight: normal;
}
.title {
  padding-left: 8px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #41f6d7;
  padding: 10px;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.header__icon768,
.divider768 {
  display: none;
}
.header__divider {
  border-left: 0.1em solid #eaeaea;
  height: 30px;
}
.header__icon {
  width: 40px;
}
.logo {
  width: 96px;
}
.title {
  display: flex;
  align-items: center;
}
.border {
  border-left: 6px solid #41f6d7;
  border-radius: 35%;
  height: 45px;
  margin-left: -10px;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
}
.navigation-menu {
  white-space: nowrap;
  display: flex;
  overflow-x: auto;
  align-items: center;
  list-style-type: none;
  margin-left: -15px;
}
.navigation-menu::-webkit-scrollbar {
  display: none;
}
.navigation-menu__btn {
  width: max-content;
  margin-right: 20px;
}
.first-btn {
  background-color: white;
  border: 2px solid #41f6d7;
  padding: 10px;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content__text1,
.content__text2 {
  margin-top: 0;
  padding-left: 10px;
}
.more {
  display: flex;
  align-items: center;
}
.title1120__btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__icon768,
  .divider768 {
    display: flex;
  }
  .header__left {
    display: flex;
    align-items: center;
  }
  .header__right {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
  }
  .content__text {
    width: 50%;
  }
  .comimg {
    margin-left: 30px;
    margin-right: 20px;
    width: 50%;
  }
  @media only screen and (min-width: 1120px) {
    .header {
      display: none;
    }
    h1 {
      margin-right: auto;
    }
    .title1120__btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-right: 5px;
    }
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .content__text {
    width: 50%;
  }
  .comimg {
    margin-left: 30px;
    margin-right: 20px;
    width: 50%;
  }
}
